services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  documentos:
    build: .
    container_name: documentos-svc
    env_file: .env
    ports:
      - "8081:8081"
    depends_on:
      - mongo

volumes:
  mongo_data:
